<p>You have to be signed-in to start managing your todos</p>

<p>New to the Todo Manager</p>
<a href="/users/new">Sign-up for a New Account</a>

<p>Already have an account</p>
<a href="./signin.html.erb">Sign-up for a New Account</a>
