<p>You have to be signed-in to start managing your todos</p>

<span>New to the Todo Manager</span>
<%= link_to "Sign-up here", users_path %>

<span>Already have an account</span>
<%= link_to "Sign-in here", new_session_path %>
