<p class="Signup-header">My Todo Manager</p>
<p class="Home-message">You have to be signed-in to start managing your todos</p>
<div class="Home-section">
<span>New to the Todo Manager</span>
<%= link_to "Sign-up here", users_path %>
</div>
<div class="Home-section">
<span>Already have an account</span>
<%= link_to "Sign-in here", new_session_path %>
</div>
